@tailwind base;
@tailwind components;
@tailwind utilities;

/* *=========== Default theme =========== */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 10% 20%; /* Adjusted for a darker grey background */
    --foreground: 0 0% 90%; /* A lighter grey foreground */
  
    --card: 210 10% 20%; /* Dark grey card background */
    --card-foreground: 0 0% 90%; /* Light grey text */
  
    --popover: 210 10% 20%; /* Dark grey popover background */
    --popover-foreground: 0 0% 90%; /* Light grey popover text */
  
    --primary: 0 0% 90%; /* Light grey primary */
    --primary-foreground: 210 10% 20%; /* Dark grey text on primary */
  
    --secondary: 210 5% 40%; /* Medium grey secondary */
    --secondary-foreground: 0 0% 90%; /* Light grey on secondary */
  
    --muted: 210 5% 40%; /* Medium grey muted */
    --muted-foreground: 210 5% 70%; /* Grey-muted text */
  
    --accent: 210 5% 40%; /* Medium grey accent */
    --accent-foreground: 0 0% 90%; /* Light grey accent foreground */
  
    --destructive: 0 0% 50%; /* Neutral grey for destructive */
    --destructive-foreground: 0 0% 90%; /* Light grey destructive foreground */
  
    --border: 210 5% 40%; /* Medium grey border */
    --input: 210 5% 40%; /* Medium grey input */
    --ring: 210 10% 50%; /* Darker grey ring */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}